#pie{
	color: #FAF9F7;
	background-color: #2D2C2C;
	margin: 0;
}

#prepie{
		margin-top: 10px;
		background-color: #2D2C2C;
		color: #FAF9F7;
		font-weight: bold;
		text-align: center;
		padding: .5em;
}

.sb{
	margin-left: 50px;
	color: #F37171;
}

body>header>h2{
	text-decoration: underline;
}

#nota{
	text-decoration: underline;
}

*{
	box-sizing: border-box;
	text-align: center;
	align-content: center;
	justify-content: center;
	font-family: 'Tomorrow', sans-serif;
	
}

body{
	background-image: url("imagenes/fondogris.jpg");
}

#portada{
	border: 1px solid #191515;
	border-radius: 50px / 25px;
	left: 25px;
	margin-top: 20px;
}


canvas{
	border: 1px solid #000;
}


button:hover{
	cursor: pointer;
	background-color: #F6B8B8;
}

#capa-fondo{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;

	background-color: rgba(255,255,255, .8);
}

	#capa-fondo>article{
		background-color: #fff;
		border: 2px solid #000;
		text-align: center;
		width: 20em;

		position: absolute;
		top: 2em;
		left: 50%;
		transform: translate(-50%); 
	}

	#capa-fondo>article>h2{
		background-color: #FFFFFF;
		margin: .5em;
		padding: .5em;
	}

	#capa-fondo>article>footer>button{
		margin: .5em;
		font-size: 1em;
		background-color: #ccc;
		border: 1px #aaa solid;
		padding: .5em 2em;
		cursor: pointer;
	}

body>footer{
		margin-top: 10px;
		background-color: #2D2C2C;
		color: #FAF9F7;
		font-weight: bold;
		text-align: center;
		padding: .5em;

	}

	body>footer>p{
		margin: 0;
	}


@media all and (min-width: 480px){
		
}

@media all and (min-width: 480px) and (max-width: 650px){
	

}

@media all and (min-width: 300px) {
	img{
		width: 100%;
	}
	canvas{
		width: 100%;
	}
	
	
}

@media all and (min-width: 0px) {
	img{
		width: 30%;
	}
	canvas{
		width: 50%;
	}
	
	
}



